
.basket-wrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    flex-grow: 1;
    top: 0;
    width: 300px;
    height: 100vh;
    padding: 12px;
    border-left: 2px solid #eeeeee;
    font-family: Nunito;
}

.basket-wrapper h3 {
    margin-top: 24px;
    align-self: center;
    
}

.basket-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-overlay {
    justify-content: center;
    overflow-y: auto;
    max-height: 500px;
    padding: 12px;
}

.content-overlay h6 {
    margin-top: 12px;
}

.separator {
    border: 1px solid #eeeeee;
    margin: 6px;
    height: 2px;
    width: 100%;
}

.basket {
    height: 48px;
    margin: 24px;
}

.icon-small {
    cursor: pointer;
    height: 20px;
}

.cell {
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 8px 12px;
    border-radius: 8px;
}

.bill {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.bill-cell {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #f7f7f7;
    box-shadow: #f46705 0 0 2px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
}

.button:hover {
    background-color: #f46705;
    color: white;
}

.order {
    text-align: center;
}