header {
    display: flex;
    height: 80px;
    background-color: #f46705;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

header img {
    height: 48px;
}

main {
    display: flex;
}

.main-dishes {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.main-box {
    display: flex;
    flex-direction: column;
    margin: 24px;
    width: 1024px;
    font-family: Raleway;
}

.main-box h6 {
    color: #f46705;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #f46705;
}